html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.seleccion {
    background: rgba(0,0,0,0.68);
    background: radial-gradient(circle farthest-corner at center center, rgba(0,0,0,0.68) 0%, rgba(0,0,0,0.78) 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, rgba(0,0,0,0.68) 0%, rgba(0,0,0,0.78) 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, rgba(0,0,0,0.68) 0%, rgba(0,0,0,0.78) 80%);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    .seleccion > div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -100px;
        background-color: white;
        text-align: center;
        padding:20px;
        font-size:20px;
    }

.selector {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

    .seleccion a {
        cursor:pointer;
        font-weight:500;
    }

    .seleccion a:hover{
        color:red;
    }

.encabezado {
    padding: 15px;
    text-align: center;
    font-size: 40px;
    height: 100px;
    background: #d10000;
    background: radial-gradient(circle farthest-corner at center center, #d10000 0%, #bd0000 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, #d10000 0%, #bd0000 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #d10000 0%, #bd0000 80%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#titulo {
    color: white;
    font-size: 100px;
}

.encabezado #duda {
    float: right;
    height: 50px;
    width: 50px;
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-weight:bold;
}

    .encabezado #duda:hover{
        color:black;
    }

    .encabezado div {
        float: left;
        text-align: left;
    }

.memorama {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-gap: 10px;
    padding: 0;
    margin: 20px;
    margin-top: 150px;
    text-align: center;
}

    .memorama img {
        width: 150px;
        height: 200px;
    }

.card_pos:hover, img:hover {
    cursor: pointer;
}

.instrucciones {
    display:none;
    background: rgba(0,0,0,0.68);
    background: radial-gradient(circle farthest-corner at center center, rgba(0,0,0,0.68) 0%, rgba(0,0,0,0.78) 80%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, rgba(0,0,0,0.68) 0%, rgba(0,0,0,0.78) 80%);
    background: -moz-radial-gradient(circle farthest-corner at center center, rgba(0,0,0,0.68) 0%, rgba(0,0,0,0.78) 80%);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

    .instrucciones > div {
        position: fixed;
        margin: 0 auto;
        top: 50%;
        left: 20%;
        right: 20%;
        margin-top: -100px;
        background-color: white;
        text-align: center;
        padding: 20px;
        font-size: 20px;
    }

    .instrucciones div a {
        float: right;
        font-size: 30px;
        text-decoration: none;
        color:black;
    }

        .instrucciones div a:hover{
            color:red;
        }

        .instrucciones div ol {
            text-align: left;
        }

.replay div a {
    color: black;
    text-decoration: none;
    font-weight:bold;
    font-size:40px;
}

    .replay div a:hover{
        color:red;
    }

    .finJuego {
        display:none;
        background: rgba(0,0,0,0.68);
        background: radial-gradient(circle farthest-corner at center center, rgba(0,0,0,0.68) 0%, rgba(0,0,0,0.78) 80%);
        background: -webkit-radial-gradient(circle farthest-corner at center center, rgba(0,0,0,0.68) 0%, rgba(0,0,0,0.78) 80%);
        background: -moz-radial-gradient(circle farthest-corner at center center, rgba(0,0,0,0.68) 0%, rgba(0,0,0,0.78) 80%);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .finJuego > div {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -100px;
        background-color: white;
        text-align: center;
        padding: 20px;
        font-size: 20px;
    }

#Ganador{
    color:red;
    font-weight:bold;
}

.equipo {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(16,16,16);
    color: rgb(110,110,110);
    text-align:center;
    font-size:10px;
}